In [112]:
import pandas as pd

In [113]:
numeroTemporada = "21-22"

In [114]:
ruta = '/content/ranking' + numeroTemporada + '.xlsx'

In [115]:
ruta

'/content/ranking21-22.xlsx'

In [116]:
df = pd.read_excel(ruta)

In [117]:
df

    ranking         team  PTS  PJ  PG  PE  PP  GF  GC  DG
0         1  Real Madrid   86  38  26   8   4  80  31  49
1         2    Barcelona   73  38  21  10   7  68  38  30
2         3   Ath Madrid   71  38  21   8   9  65  43  22
3         4      Sevilla   70  38  18  16   4  53  30  23
4         5        Betis   65  38  19   8  11  62  40  22
5         6     Sociedad   62  38  17  11  10  40  37   3
6         7   Villarreal   59  38  16  11  11  63  37  26
7         8   Ath Bilbao   55  38  14  13  11  43  36   7
8         9     Valencia   48  38  11  15  12  48  53  -5
9        10      Osasuna   47  38  12  11  15  37  51 -14
10       11        Celta   46  38  12  10  16  43  43   0
11       12    Vallecano   42  38  11   9  18  39  50 -11
12       13        Elche   42  38  11   9  18  40  52 -12
13       14      Espanol   42  38  10  12  16  40  53 -13
14       15       Getafe   39  38   8  15  15  33  41  -8
15       16     Mallorca   39  38  10   9  19  36  63 -27
16       17        Cadiz   39  38   8  15  15  35  51 -16
17       18      Granada   38  38   8  14  16  44  61 -17
18       19      Levante   35  38   8  11  19  51  76 -25
19       20       Alaves   31  38   8   7  23  31  65 -34

In [118]:
df = df.assign(Season=numeroTemporada)

In [119]:
df

    ranking         team  PTS  PJ  PG  PE  PP  GF  GC  DG Season
0         1  Real Madrid   86  38  26   8   4  80  31  49  21-22
1         2    Barcelona   73  38  21  10   7  68  38  30  21-22
2         3   Ath Madrid   71  38  21   8   9  65  43  22  21-22
3         4      Sevilla   70  38  18  16   4  53  30  23  21-22
4         5        Betis   65  38  19   8  11  62  40  22  21-22
5         6     Sociedad   62  38  17  11  10  40  37   3  21-22
6         7   Villarreal   59  38  16  11  11  63  37  26  21-22
7         8   Ath Bilbao   55  38  14  13  11  43  36   7  21-22
8         9     Valencia   48  38  11  15  12  48  53  -5  21-22
9        10      Osasuna   47  38  12  11  15  37  51 -14  21-22
10       11        Celta   46  38  12  10  16  43  43   0  21-22
11       12    Vallecano   42  38  11   9  18  39  50 -11  21-22
12       13        Elche   42  38  11   9  18  40  52 -12  21-22
13       14      Espanol   42  38  10  12  16  40  53 -13  21-22
14       15       Getafe   39  38   8  15  15  33  41  -8  21-22
15       16     Mallorca   39  38  10   9  19  36  63 -27  21-22
16       17        Cadiz   39  38   8  15  15  35  51 -16  21-22
17       18      Granada   38  38   8  14  16  44  61 -17  21-22
18       19      Levante   35  38   8  11  19  51  76 -25  21-22
19       20       Alaves   31  38   8   7  23  31  65 -34  21-22

In [120]:
equipos = [
    'Valencia',
    'Getafe',
    'Cadiz',
    'Levante',
    'Mallorca',
    'Betis',
    'Alaves',
    'Real Madrid',
    'Osasuna',
    'Espanol',
    'Celta',
    'Ath Madrid',
    'Barcelona',
    'Sociedad',
    'Sevilla',
    'Vallecano',
    'Villarreal',
    'Granada',
    'Elche',
    'Ath Bilbao',
    'Huesca',
    'Valladolid',
    'Eibar',
    'Huesca',
    'Leganes',#
    'Girona',
    'La Coruna',
    'Las Palmas',
    'Malaga',
    'Sp Gijon',
    'Almeria',
    'Cordoba',
    'Zaragoza',
    'Santander'
]

In [121]:
nombre_csv = 'clasificaciones' + numeroTemporada + '.csv'

In [122]:
df.to_csv(nombre_csv, index=False)