In [12]:
import pandas as pd

In [13]:
temporadas = [
    '11-12',
    '12-13',
    '13-14',
    '14-15',
    '15-16',
    '16-17',
    '17-18',
    '18-19',
    '19-20',
    '20-21',
    '21-22'
]

In [14]:
dfEncuentros11_22 = pd.DataFrame()

In [15]:
for temporada in temporadas:
    ruta = '/content/encuentros' + temporada + '.csv'
    df = pd.read_csv(ruta)
    # Agregar el DataFrame de la temporada actual al DataFrame general
    dfEncuentros11_22 = pd.concat([dfEncuentros11_22, df], ignore_index=True)

In [16]:
dfEncuentros11_22

,MatchID,Season,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,1,11-12,SP1,27/08/11,Granada,Betis,0,1,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,11-12,SP1,27/08/11,Sp Gijon,Sociedad,1,2,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,11-12,SP1,27/08/11,Valencia,Santander,4,3,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,11-12,SP1,28/08/11,Ath Bilbao,Vallecano,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,11-12,SP1,28/08/11,Ath Madrid,Osasuna,0,0,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4175,376,21-22,SP1,22/05/2022,Granada,Espanol,0,0,D,0,...,2.29,-1.25,2.02,1.88,2.03,1.90,2.06,2.05,1.97,1.90
4176,377,21-22,SP1,22/05/2022,Osasuna,Mallorca,0,2,A,0,...,1.76,0.25,1.68,2.15,1.74,2.23,1.86,2.29,1.77,2.11
4177,378,21-22,SP1,22/05/2022,Barcelona,Villarreal,0,2,A,0,...,2.50,-0.50,2.07,1.83,2.08,1.85,2.09,2.00,1.97,1.91
4178,379,21-22,SP1,22/05/2022,Sevilla,Ath Bilbao,1,0,H,0,...,1.69,0.00,2.01,1.89,2.02,1.90,2.07,2.06,2.00,1.88
4179,380,21-22,SP1,22/05/2022,Sociedad,Ath Madrid,1,2,A,0,...,1.66,0.00,1.91,1.99,1.89,2.01,1.95,2.04,1.90,1.98

In [17]:
for columna in dfEncuentros11_22.columns:
  
  print(columna)

MatchID
Season
Div
Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
B365H
B365D
B365A
BWH
BWD
BWA
GBH
GBD
GBA
IWH
IWD
IWA
LBH
LBD
LBA
SBH
SBD
SBA
WHH
WHD
WHA
SJH
SJD
SJA
VCH
VCD
VCA
BSH
BSD
BSA
Bb1X2
BbMxH
BbAvH
BbMxD
BbAvD
BbMxA
BbAvA
BbOU
BbMx>2.5
BbAv>2.5
BbMx<2.5
BbAv<2.5
BbAH
BbAHh
BbMxAHH
BbAvAHH
BbMxAHA
BbAvAHA
PSH
PSD
PSA
PSCH
PSCD
PSCA
Time
MaxH
MaxD
MaxA
AvgH
AvgD
AvgA
B365>2.5
B365<2.5
P>2.5
P<2.5
Max>2.5
Max<2.5
Avg>2.5
Avg<2.5
AHh
B365AHH
B365AHA
PAHH
PAHA
MaxAHH
MaxAHA
AvgAHH
AvgAHA
B365CH
B365CD
B365CA
BWCH
BWCD
BWCA
IWCH
IWCD
IWCA
WHCH
WHCD
WHCA
VCCH
VCCD
VCCA
MaxCH
MaxCD
MaxCA
AvgCH
AvgCD
AvgCA
B365C>2.5
B365C<2.5
PC>2.5
PC<2.5
MaxC>2.5
MaxC<2.5
AvgC>2.5
AvgC<2.5
AHCh
B365CAHH
B365CAHA
PCAHH
PCAHA
MaxCAHH
MaxCAHA
AvgCAHH
AvgCAHA

### Guardar CSV con todas las clasificaciones del 2011 al 2022

In [18]:
nombre_csv = 'EncuentrosLaLiga_MERGE_2011-2022.csv'

In [19]:
dfEncuentros11_22.to_csv(nombre_csv, index=False)